::ng-deep dynamic-form {
  background: #f1f1f1;
  padding: 2em;
  .native-input {
    color: #676767!important;
  }
  ion-button {
    margin-top: 2em;
  }
}

.error-message {
  margin: 8px 8px 8px 0;
  padding: 8px 8px 8px 0;
  color: #e62a2a;
  font-weight: 600;
  font-size: 0.8em;
}
